body {
  background: black !important;
}

nav {
  background: #0d0d0d;
  position: fixed;
}

nav .navbar-brand {
  width: 118px;
  height: 60px;
  left: 50px;
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffc700;
  font-size: 38px;
  line-height: 137.3%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.navbar-brand {
  color: #ffc700 !important;
}

.nav-link {
  color: #e6e6e6 !important;
  right: 50px;
  margin-bottom: -20px !important;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.12em;
  margin-left: 30px;
  margin-right: 10px;
}

.nav-item {
  margin-bottom: 18px !important;
}

div p {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 137.3%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #fff !important;
}
div {
  font-family: "Oswald:wght@300", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 137.3%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #fff !important;
}
.dropdown-menu {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0em;
}

input[type="text"],
input[type="password"] {
  width: 400px;
}

.footer {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 10% !important;
  width: 100%;
  height: 18%;
  background: #0d0d0d;
}

.footer p {
  margin: 20px 10px 10px;
  font-size: 14px;
  padding: 15px;
  color: #ffc700;
  text-align: center;
}
